
<div xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <header class="page-header font-small cyan darken-3 mt-4">
        <div class="container">
            Welcome to Meta Horizon
        </div>
    </header>
</div>
