<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MetaHorizon</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatable/buttons.dataTables.min.css}"/>
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">

    <script src="/webjars/jquery/3.3.1-1/jquery.js"></script>
    <script src="/webjars/bootstrap/4.1.0/js/bootstrap.js"/>
    <script src="/js/jquery.dataTables.min.js"/>
    <script src="/js/datatable/buttons.flash.min.js"></script>
    <script src="/js/datatable/buttons.html5.min.js" th:src="@{/js/datatable/buttons.html5.min.js}"></script>
    <script src="/js/datatable/buttons.print.min.js" th:src="@{/js/datatable/buttons.print.min.js}"></script>
    <script src="/js/datatable/dataTables.buttons.min.js" th:src="@{/js/datatable/dataTables.buttons.min.js}"></script>
    <script src="/js/datatable/jszip.min.js" th:src="@{/js/datatable/jszip.min.js}"></script>
    <script src="/js/datatable/pdfmake.min.js" th:src="@{/js/datatable/pdfmake.min.js}"></script>
    <script src="/js/datatable/vfs_fonts.js" th:src="@{/js/datatable/vfs_fonts.js}"></script>
    <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>
</head>
<body>

<div th:include="fragments/header::header"></div>
<div th:include="fragments/menu::menu"></div>
<div class="container" id="pageLoader"></div>
<div th:include="fragments/footer::footer"></div>
</body>
</html>