<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" lang="en">
    <link href="https://unpkg.com/ionicons@4.2.0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/datatable/buttons.dataTables.min.css}"/>
    <script src="/js/jquery.dataTables.min.js"/>
    <script src="/js/datatable/buttons.flash.min.js"></script>
    <script src="/js/datatable/buttons.html5.min.js" th:src="@{/js/datatable/buttons.html5.min.js}"></script>
    <script src="/js/datatable/buttons.print.min.js" th:src="@{/js/datatable/buttons.print.min.js}"></script>
    <script src="/js/datatable/dataTables.buttons.min.js" th:src="@{/js/datatable/dataTables.buttons.min.js}"></script>
    <script src="/js/datatable/jszip.min.js" th:src="@{/js/datatable/jszip.min.js}"></script>
    <script src="/js/datatable/pdfmake.min.js" th:src="@{/js/datatable/pdfmake.min.js}"></script>
    <script src="/js/datatable/vfs_fonts.js" th:src="@{/js/datatable/vfs_fonts.js}"></script>
    <script src="https://unpkg.com/ionicons@4.2.0/dist/ionicons.js"></script>
    <script src="/js/js-for-user.js"/>

    <table id="usertab" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Nationality</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Batch</th>
            <th>Role</th>
            <th>
                <a href="#">
                    <ion-icon size="small" name="person-add" data-toggle="modal" data-target="#addModal">Add User
                    </ion-icon>
                </a>
            </th>
        </tr>
        </thead>
    </table>

    <!-- mdoal for ADD-->
    <div class="modal fade" id="addModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Add New User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div th:include="fragments/userform::userform" th:with="user=${user}"></div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>

    </div>

</div>